@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700");
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.6; }

body {
  -webkit-font-smoothing: antialiased;
  padding-top: 88px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

.btn {
  border-radius: 0; }
  .btn i {
    font-size: 0.65em;
    top: 0; }

.btn-primary {
  background: #00973d;
  border-color: #00973d;
  text-transform: uppercase;
  font-weight: bold; }
  .btn-primary.btn-lg {
    font-size: 15px;
    padding: 14px 40px; }

form .form-control {
  border-radius: 0;
  border-color: 1px solid #dadada;
  box-shadow: none;
  color: #212121; }
form select.form-control {
  -webkit-appearance: none;
  background: white url("../images/dd-arrow.jpg") 95% 10px no-repeat;
  background-size: 8px 12px;
  border: 1px solid #dadada;
  border-radius: 0;
  color: #999; }

.flat {
  margin: 0; }

.panel-group .panel {
  border-radius: 2px;
  margin-bottom: 1em;
  box-shadow: none; }
  .panel-group .panel .panel-heading {
    background: white;
    border: none; }
    .panel-group .panel .panel-heading .panel-title {
      padding: 4px 0; }
      .panel-group .panel .panel-heading .panel-title a {
        font-size: 1em;
        line-height: 1.5; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon {
          color: #666;
          font-size: 0.75em;
          margin-right: 10px; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon-minus {
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon-plus {
          display: none; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-plus {
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-minus {
          display: none; }
  .panel-group .panel .panel-collapse .panel-body {
    border-top: 1px dotted #efefef;
    background: white;
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 15px 15px; }
    .panel-group .panel .panel-collapse .panel-body p {
      margin-bottom: 0;
      font-weight: normal; }

.navbar-default {
  height: 88px;
  background: white;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.25); }
  .navbar-default .navbar-header .navbar-brand {
    text-indent: -9999px;
    width: 150px;
    height: 78px;
    background: url("../images/bauers-it-logo-2x.jpg") center center no-repeat;
    background-size: 120px auto; }
  .navbar-default .navbar-collapse {
    margin: 20px 0 10px; }
    .navbar-default .navbar-collapse .navbar-nav li a {
      color: #444444;
      font-size: 15px;
      padding: 15px 20px;
      border-radius: 40px;
      font-weight: normal; }
      .navbar-default .navbar-collapse .navbar-nav li a:hover {
        background: rgba(0, 0, 0, 0.02); }
  .navbar-default .telephone {
    margin: 0; }
    .navbar-default .telephone .navbar-nav {
      margin: 0; }
      .navbar-default .telephone .navbar-nav li {
        padding: 15px 20px;
        color: #444444;
        font-size: 13px;
        text-align: center; }
        .navbar-default .telephone .navbar-nav li em {
          font-style: normal;
          font-weight: bold;
          color: #00973d;
          display: block;
          font-size: 19px; }

body.home section {
  padding: 4em 0; }
  body.home section h1, body.home section h2 {
    text-align: center; }
  body.home section h1 {
    margin-bottom: 2em; }
  body.home section.light {
    color: white !important; }
  body.home section.lightGrey {
    background: #f1f1f1; }
body.home .hero {
  box-shadow: inset 0 8px 10px rgba(0, 0, 0, 0.15);
  padding: 2em 0 2em;
  background: url("../images/beautiful-road-2.jpg") 50% 100% no-repeat;
  background-size: cover;
  height: auto; }
  body.home .hero h1 {
    text-align: left;
    font-weight: bold;
    font-size: 40px;
    margin: 100px 0 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
  body.home .hero h2 {
    text-align: left;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
  body.home .hero .card {
    margin: 0 0 0 40px;
    background: rgba(0, 0, 0, 0.25);
    padding: 10px 20px; }
  body.home .hero legend {
    color: white;
    border: none;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 15px; }
    body.home .hero legend small {
      font-size: 15px;
      font-weight: normal;
      display: block; }
  body.home .hero .form-group {
    margin-bottom: 6px; }
    body.home .hero .form-group .form-control {
      border-color: #333;
      height: 40px; }
    body.home .hero .form-group .col-sm-6.left {
      padding-right: 3px; }
    body.home .hero .form-group .col-sm-6.right {
      padding-left: 3px; }
body.home .logos {
  padding: 1.5em 0;
  border-bottom: 1px solid #dadada; }
  body.home .logos .col-sm-2 {
    text-align: center;
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 16.1%; }
  body.home .logos img {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: auto; }
  body.home .logos .pge img {
    width: 36px; }
  body.home .logos .livenation img {
    width: 100px; }
body.home .features {
  background-image: -webkit-radial-gradient(closest-corner, #f7f7f7 60%, #dadada), -webkit-linear-gradient(108deg, #f5f5f5, #efefef 10%, #f5f5f5 90%); }
  body.home .features h1 {
    margin-bottom: 1em; }
  body.home .features .nav-tabs li {
    width: 33%;
    margin: 0 0 -1px 0; }
    body.home .features .nav-tabs li.two, body.home .features .nav-tabs li.three {
      margin-left: -1px; }
    body.home .features .nav-tabs li a {
      border: 1px solid #dadada;
      border-bottom: none;
      border-radius: 0;
      margin: 0;
      padding: 20px 0;
      text-align: center;
      font-size: 14px;
      color: #212121; }
  body.home .features .tab-pane {
    padding: 20px 30px;
    border: 1px solid #dadada;
    border-top: none;
    background: white;
    margin-bottom: 40px; }
    body.home .features .tab-pane .col-lg-6 {
      padding: 0 30px; }
  body.home .features h2 {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px; }
  body.home .features p {
    font-size: 13px; }
body.home .faq {
  background: #f1f1f1; }
body.home .testimonials .thumbnail {
  position: relative;
  height: 150px;
  width: auto;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 100px; }
body.home .testimonials h1 {
  margin-bottom: 40px; }
  body.home .testimonials h1 i {
    font-size: 0.8em;
    margin: 0 8px 0 4px; }
body.home .testimonials h2 {
  font-weight: normal;
  font-size: 18px;
  margin: 0 0 20px; }
body.home .testimonials blockquote {
  display: inline-block;
  position: relative;
  border-radius: 2px;
  padding: 15px 20px;
  font-family: Georgia, serif;
  font-style: italic;
  color: #212121;
  border: none;
  font-size: 18px;
  line-height: 1.5;
  margin: 0 0 20px 0;
  clear: both; }
  body.home .testimonials blockquote:before {
    content: "“";
    display: block;
    position: absolute;
    font-size: 40px;
    left: 0;
    top: 0; }
  body.home .testimonials blockquote small {
    margin-top: 10px;
    font-size: 17px;
    white-space: nowrap;
    font-style: normal;
    font-family: "Proxima Nova", sans-serif;
    color: #212121; }
    body.home .testimonials blockquote small strong {
      display: block;
      white-space: normal;
      color: #212121; }
  body.home .testimonials blockquote img {
    height: 20px;
    width: auto; }
