@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700");
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
  line-height: 1.3;
  margin-top: 0; }
  h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    text-decoration: none;
    color: #004c6c; }

.bucket-title {
  color: #999;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase; }

p {
  font-size: 1em;
  margin-bottom: 1.5em;
  line-height: 1.6; }

body {
  -webkit-font-smoothing: antialiased;
  padding-top: 88px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px; }

.btn {
  border-radius: 0;
  border: none; }
  .btn i {
    font-size: 0.65em;
    top: 0; }

.btn-lg {
  font-size: 17px;
  padding: 16px 40px;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: none; }

.btn-primary {
  background: #00973d;
  border-color: #00973d;
  text-shadow: none; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #00a141; }

.btn-default {
  background: transparent;
  border: 2px solid white;
  color: white; }
  .btn-default:hover {
    background: white;
    color: #0094d2;
    border-color: white; }

form .form-control {
  border-radius: 0;
  border-color: 1px solid #dadada;
  box-shadow: none;
  color: #212121;
  padding: 6px 8px;
  font-weight: normal; }
form select.form-control {
  -webkit-appearance: none;
  background: white url("../images/dd-arrow.jpg") 97% 13px no-repeat;
  background-size: 8px 12px;
  border: 1px solid #dadada;
  border-radius: 0;
  color: #999;
  font-weight: normal; }
  form select.form-control.hot {
    border-color: #0094d2;
    box-shadow: 0 0 15px white;
    outline: 1px; }
  form select.form-control.valid {
    color: #212121; }
form.intake-form .form-group {
  margin-bottom: 6px; }
  form.intake-form .form-group .form-control {
    border-color: #333;
    height: 40px; }
  form.intake-form .form-group .col-sm-6.left {
    padding-right: 3px; }
  form.intake-form .form-group .col-sm-6.right {
    padding-left: 3px; }
form label.error {
  font-weight: normal;
  font-size: 13px; }

.img-thumbnail {
  border-radius: 2px;
  border-color: #efefef; }

.flat {
  margin: 0; }

.panel-group .panel {
  border-radius: 2px;
  margin-bottom: 1em;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  border: none; }
  .panel-group .panel .panel-heading {
    background: white;
    border: none; }
    .panel-group .panel .panel-heading .panel-title {
      padding: 4px 0; }
      .panel-group .panel .panel-heading .panel-title a {
        font-size: 1em;
        line-height: 1.5;
        text-shadow: none;
        font-weight: normal; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon {
          color: #666;
          font-size: 0.75em;
          margin-right: 10px; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon-minus {
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a .glyphicon-plus {
          display: none; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-plus {
          display: inline-block; }
        .panel-group .panel .panel-heading .panel-title a.collapsed .glyphicon-minus {
          display: none; }
  .panel-group .panel .panel-collapse .panel-body {
    border-top: 1px dotted #efefef;
    background: white;
    font-size: 14px;
    line-height: 1.6;
    padding: 10px 15px 15px;
    text-shadow: none;
    color: #212121; }
    .panel-group .panel .panel-collapse .panel-body p {
      margin-bottom: 0;
      font-weight: normal;
      text-shadow: none; }

.navbar-default {
  height: 88px;
  background: white;
  border: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15); }
  .navbar-default .navbar-header .navbar-brand {
    margin-left: 0;
    text-indent: -9999px;
    width: 180px;
    height: 78px;
    background: url("../images/bauers-logo-flat-2x.png") center 18px no-repeat;
    background-size: 160px auto; }
  .navbar-default .navbar-collapse {
    margin: 20px 0 10px; }
    .navbar-default .navbar-collapse .navbar-nav li a {
      color: #444444;
      font-size: 15px;
      padding: 15px 20px;
      border-radius: 40px;
      font-weight: normal; }
      .navbar-default .navbar-collapse .navbar-nav li a:hover {
        background: rgba(0, 0, 0, 0.02); }
    .navbar-default .navbar-collapse .navbar-nav li.active a {
      background: transparent; }
  .navbar-default .telephone {
    margin: 0; }
    .navbar-default .telephone .navbar-nav {
      margin: 0; }
      .navbar-default .telephone .navbar-nav li {
        padding: 15px 20px;
        color: #444444;
        font-size: 13px;
        text-align: center; }
        .navbar-default .telephone .navbar-nav li em {
          font-style: normal;
          font-weight: bold;
          color: #00973d;
          display: block;
          font-size: 19px; }

body.page-template-home-page-old-logo-php .navbar-default .navbar-header .navbar-brand, body.page-template-home-page-new-hero-old-logo-php .navbar-default .navbar-header .navbar-brand {
  margin-left: 0;
  text-indent: -9999px;
  width: 180px;
  height: 78px;
  background: url("../images/bauers-it-logo-2x.jpg") center 7px no-repeat;
  background-size: 140px auto; }

body.home section, body.page-template-home-page-old-logo-php section, body.page-template-home-page-new-hero-php section, body.page-template-home-page-new-hero-old-logo-php section, body.page-template-home-page-with-arrow-php section, body.page-template-home-page-new-copy-php section {
  padding: 4em 0; }
  body.home section h1, body.home section h2, body.page-template-home-page-old-logo-php section h1, body.page-template-home-page-old-logo-php section h2, body.page-template-home-page-new-hero-php section h1, body.page-template-home-page-new-hero-php section h2, body.page-template-home-page-new-hero-old-logo-php section h1, body.page-template-home-page-new-hero-old-logo-php section h2, body.page-template-home-page-with-arrow-php section h1, body.page-template-home-page-with-arrow-php section h2, body.page-template-home-page-new-copy-php section h1, body.page-template-home-page-new-copy-php section h2 {
    text-align: center; }
  body.home section h1, body.page-template-home-page-old-logo-php section h1, body.page-template-home-page-new-hero-php section h1, body.page-template-home-page-new-hero-old-logo-php section h1, body.page-template-home-page-with-arrow-php section h1, body.page-template-home-page-new-copy-php section h1 {
    margin-bottom: 2em; }
  body.home section.light, body.page-template-home-page-old-logo-php section.light, body.page-template-home-page-new-hero-php section.light, body.page-template-home-page-new-hero-old-logo-php section.light, body.page-template-home-page-with-arrow-php section.light, body.page-template-home-page-new-copy-php section.light {
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }
  body.home section.lightGrey, body.page-template-home-page-old-logo-php section.lightGrey, body.page-template-home-page-new-hero-php section.lightGrey, body.page-template-home-page-new-hero-old-logo-php section.lightGrey, body.page-template-home-page-with-arrow-php section.lightGrey, body.page-template-home-page-new-copy-php section.lightGrey {
    background: #f1f1f1; }
body.home .hero, body.page-template-home-page-old-logo-php .hero, body.page-template-home-page-new-hero-php .hero, body.page-template-home-page-new-hero-old-logo-php .hero, body.page-template-home-page-with-arrow-php .hero, body.page-template-home-page-new-copy-php .hero {
  position: relative;
  padding: 2em 0 2em;
  background: url("../images/blue-bridge.jpg") 50% 100% no-repeat;
  background-size: cover;
  height: auto; }
  body.home .hero h1, body.page-template-home-page-old-logo-php .hero h1, body.page-template-home-page-new-hero-php .hero h1, body.page-template-home-page-new-hero-old-logo-php .hero h1, body.page-template-home-page-with-arrow-php .hero h1, body.page-template-home-page-new-copy-php .hero h1 {
    text-align: left;
    font-weight: bold;
    font-size: 42px;
    margin: 60px 0 20px; }
  body.home .hero h2, body.page-template-home-page-old-logo-php .hero h2, body.page-template-home-page-new-hero-php .hero h2, body.page-template-home-page-new-hero-old-logo-php .hero h2, body.page-template-home-page-with-arrow-php .hero h2, body.page-template-home-page-new-copy-php .hero h2 {
    text-align: left;
    font-weight: normal;
    font-size: 21px;
    line-height: 1.4; }
  body.home .hero ul li, body.page-template-home-page-old-logo-php .hero ul li, body.page-template-home-page-new-hero-php .hero ul li, body.page-template-home-page-new-hero-old-logo-php .hero ul li, body.page-template-home-page-with-arrow-php .hero ul li, body.page-template-home-page-new-copy-php .hero ul li {
    font-size: 24px;
    margin-bottom: 15px; }
  body.home .hero .card, body.page-template-home-page-old-logo-php .hero .card, body.page-template-home-page-new-hero-php .hero .card, body.page-template-home-page-new-hero-old-logo-php .hero .card, body.page-template-home-page-with-arrow-php .hero .card, body.page-template-home-page-new-copy-php .hero .card {
    margin: 0 0 0 40px;
    background: rgba(0, 0, 0, 0.35);
    padding: 10px 20px;
    transition: background 0.5s ease-in-out; }
    body.home .hero .card.hot, body.page-template-home-page-old-logo-php .hero .card.hot, body.page-template-home-page-new-hero-php .hero .card.hot, body.page-template-home-page-new-hero-old-logo-php .hero .card.hot, body.page-template-home-page-with-arrow-php .hero .card.hot, body.page-template-home-page-new-copy-php .hero .card.hot {
      background: rgba(0, 0, 0, 0.6); }
    body.home .hero .card .btn-primary, body.page-template-home-page-old-logo-php .hero .card .btn-primary, body.page-template-home-page-new-hero-php .hero .card .btn-primary, body.page-template-home-page-new-hero-old-logo-php .hero .card .btn-primary, body.page-template-home-page-with-arrow-php .hero .card .btn-primary, body.page-template-home-page-new-copy-php .hero .card .btn-primary {
      padding: 12px; }
  body.home .hero legend, body.page-template-home-page-old-logo-php .hero legend, body.page-template-home-page-new-hero-php .hero legend, body.page-template-home-page-new-hero-old-logo-php .hero legend, body.page-template-home-page-with-arrow-php .hero legend, body.page-template-home-page-new-copy-php .hero legend {
    color: white;
    border: none;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 15px; }
    body.home .hero legend small, body.page-template-home-page-old-logo-php .hero legend small, body.page-template-home-page-new-hero-php .hero legend small, body.page-template-home-page-new-hero-old-logo-php .hero legend small, body.page-template-home-page-with-arrow-php .hero legend small, body.page-template-home-page-new-copy-php .hero legend small {
      font-size: 15px;
      font-weight: normal;
      display: block; }
  body.home .hero .down-arrow, body.page-template-home-page-old-logo-php .hero .down-arrow, body.page-template-home-page-new-hero-php .hero .down-arrow, body.page-template-home-page-new-hero-old-logo-php .hero .down-arrow, body.page-template-home-page-with-arrow-php .hero .down-arrow, body.page-template-home-page-new-copy-php .hero .down-arrow {
    display: inline-block;
    background: url("../images/down-arrow.png") center center no-repeat;
    background-size: 30px 15px;
    opacity: 0.5;
    width: 30px;
    height: 15px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -15px; }
    body.home .hero .down-arrow:hover, body.page-template-home-page-old-logo-php .hero .down-arrow:hover, body.page-template-home-page-new-hero-php .hero .down-arrow:hover, body.page-template-home-page-new-hero-old-logo-php .hero .down-arrow:hover, body.page-template-home-page-with-arrow-php .hero .down-arrow:hover, body.page-template-home-page-new-copy-php .hero .down-arrow:hover {
      opacity: 1; }
body.home .hero-modal, body.page-template-home-page-old-logo-php .hero-modal, body.page-template-home-page-new-hero-php .hero-modal, body.page-template-home-page-new-hero-old-logo-php .hero-modal, body.page-template-home-page-with-arrow-php .hero-modal, body.page-template-home-page-new-copy-php .hero-modal {
  box-shadow: inset 0 8px 10px rgba(0, 0, 0, 0.15);
  padding: 2em 0 2em;
  background: url("../images/beautiful-road-2.jpg") 50% 100% no-repeat;
  background-size: cover;
  height: 500px; }
  body.home .hero-modal h1, body.page-template-home-page-old-logo-php .hero-modal h1, body.page-template-home-page-new-hero-php .hero-modal h1, body.page-template-home-page-new-hero-old-logo-php .hero-modal h1, body.page-template-home-page-with-arrow-php .hero-modal h1, body.page-template-home-page-new-copy-php .hero-modal h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 100px 0 20px;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
  body.home .hero-modal h2, body.page-template-home-page-old-logo-php .hero-modal h2, body.page-template-home-page-new-hero-php .hero-modal h2, body.page-template-home-page-new-hero-old-logo-php .hero-modal h2, body.page-template-home-page-with-arrow-php .hero-modal h2, body.page-template-home-page-new-copy-php .hero-modal h2 {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 1.4;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
    margin-bottom: 40px; }
  body.home .hero-modal .btn-primary, body.page-template-home-page-old-logo-php .hero-modal .btn-primary, body.page-template-home-page-new-hero-php .hero-modal .btn-primary, body.page-template-home-page-new-hero-old-logo-php .hero-modal .btn-primary, body.page-template-home-page-with-arrow-php .hero-modal .btn-primary, body.page-template-home-page-new-copy-php .hero-modal .btn-primary {
    font-size: 18px;
    padding: 15px 40px;
    background: #e85d00;
    border-color: #e85d00; }
  body.home .hero-modal .card, body.page-template-home-page-old-logo-php .hero-modal .card, body.page-template-home-page-new-hero-php .hero-modal .card, body.page-template-home-page-new-hero-old-logo-php .hero-modal .card, body.page-template-home-page-with-arrow-php .hero-modal .card, body.page-template-home-page-new-copy-php .hero-modal .card {
    margin: 0 0 0 40px;
    background: rgba(0, 0, 0, 0.25);
    padding: 10px 20px; }
  body.home .hero-modal legend, body.page-template-home-page-old-logo-php .hero-modal legend, body.page-template-home-page-new-hero-php .hero-modal legend, body.page-template-home-page-new-hero-old-logo-php .hero-modal legend, body.page-template-home-page-with-arrow-php .hero-modal legend, body.page-template-home-page-new-copy-php .hero-modal legend {
    color: white;
    border: none;
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 15px; }
    body.home .hero-modal legend small, body.page-template-home-page-old-logo-php .hero-modal legend small, body.page-template-home-page-new-hero-php .hero-modal legend small, body.page-template-home-page-new-hero-old-logo-php .hero-modal legend small, body.page-template-home-page-with-arrow-php .hero-modal legend small, body.page-template-home-page-new-copy-php .hero-modal legend small {
      font-size: 15px;
      font-weight: normal;
      display: block; }
  body.home .hero-modal .form-group, body.page-template-home-page-old-logo-php .hero-modal .form-group, body.page-template-home-page-new-hero-php .hero-modal .form-group, body.page-template-home-page-new-hero-old-logo-php .hero-modal .form-group, body.page-template-home-page-with-arrow-php .hero-modal .form-group, body.page-template-home-page-new-copy-php .hero-modal .form-group {
    margin-bottom: 6px; }
    body.home .hero-modal .form-group .form-control, body.page-template-home-page-old-logo-php .hero-modal .form-group .form-control, body.page-template-home-page-new-hero-php .hero-modal .form-group .form-control, body.page-template-home-page-new-hero-old-logo-php .hero-modal .form-group .form-control, body.page-template-home-page-with-arrow-php .hero-modal .form-group .form-control, body.page-template-home-page-new-copy-php .hero-modal .form-group .form-control {
      border-color: #333;
      height: 40px; }
    body.home .hero-modal .form-group .col-sm-6.left, body.page-template-home-page-old-logo-php .hero-modal .form-group .col-sm-6.left, body.page-template-home-page-new-hero-php .hero-modal .form-group .col-sm-6.left, body.page-template-home-page-new-hero-old-logo-php .hero-modal .form-group .col-sm-6.left, body.page-template-home-page-with-arrow-php .hero-modal .form-group .col-sm-6.left, body.page-template-home-page-new-copy-php .hero-modal .form-group .col-sm-6.left {
      padding-right: 3px; }
    body.home .hero-modal .form-group .col-sm-6.right, body.page-template-home-page-old-logo-php .hero-modal .form-group .col-sm-6.right, body.page-template-home-page-new-hero-php .hero-modal .form-group .col-sm-6.right, body.page-template-home-page-new-hero-old-logo-php .hero-modal .form-group .col-sm-6.right, body.page-template-home-page-with-arrow-php .hero-modal .form-group .col-sm-6.right, body.page-template-home-page-new-copy-php .hero-modal .form-group .col-sm-6.right {
      padding-left: 3px; }
body.home .logos, body.page-template-home-page-old-logo-php .logos, body.page-template-home-page-new-hero-php .logos, body.page-template-home-page-new-hero-old-logo-php .logos, body.page-template-home-page-with-arrow-php .logos, body.page-template-home-page-new-copy-php .logos {
  padding: 1.5em 0;
  border-bottom: 1px solid #dadada; }
  body.home .logos .col-sm-2, body.page-template-home-page-old-logo-php .logos .col-sm-2, body.page-template-home-page-new-hero-php .logos .col-sm-2, body.page-template-home-page-new-hero-old-logo-php .logos .col-sm-2, body.page-template-home-page-with-arrow-php .logos .col-sm-2, body.page-template-home-page-new-copy-php .logos .col-sm-2 {
    text-align: center;
    float: none;
    display: inline-block;
    vertical-align: middle;
    width: 16.1%; }
  body.home .logos img, body.page-template-home-page-old-logo-php .logos img, body.page-template-home-page-new-hero-php .logos img, body.page-template-home-page-new-hero-old-logo-php .logos img, body.page-template-home-page-with-arrow-php .logos img, body.page-template-home-page-new-copy-php .logos img {
    display: inline-block;
    vertical-align: middle;
    width: 80px;
    height: auto; }
  body.home .logos .ea img, body.page-template-home-page-old-logo-php .logos .ea img, body.page-template-home-page-new-hero-php .logos .ea img, body.page-template-home-page-new-hero-old-logo-php .logos .ea img, body.page-template-home-page-with-arrow-php .logos .ea img, body.page-template-home-page-new-copy-php .logos .ea img {
    width: 50px; }
  body.home .logos .pge img, body.page-template-home-page-old-logo-php .logos .pge img, body.page-template-home-page-new-hero-php .logos .pge img, body.page-template-home-page-new-hero-old-logo-php .logos .pge img, body.page-template-home-page-with-arrow-php .logos .pge img, body.page-template-home-page-new-copy-php .logos .pge img {
    width: 36px; }
  body.home .logos .levis img, body.page-template-home-page-old-logo-php .logos .levis img, body.page-template-home-page-new-hero-php .logos .levis img, body.page-template-home-page-new-hero-old-logo-php .logos .levis img, body.page-template-home-page-with-arrow-php .logos .levis img, body.page-template-home-page-new-copy-php .logos .levis img {
    width: 50px; }
  body.home .logos .livenation img, body.page-template-home-page-old-logo-php .logos .livenation img, body.page-template-home-page-new-hero-php .logos .livenation img, body.page-template-home-page-new-hero-old-logo-php .logos .livenation img, body.page-template-home-page-with-arrow-php .logos .livenation img, body.page-template-home-page-new-copy-php .logos .livenation img {
    width: 100px; }
  body.home .logos .clients, body.page-template-home-page-old-logo-php .logos .clients, body.page-template-home-page-new-hero-php .logos .clients, body.page-template-home-page-new-hero-old-logo-php .logos .clients, body.page-template-home-page-with-arrow-php .logos .clients, body.page-template-home-page-new-copy-php .logos .clients {
    text-transform: uppercase;
    color: #777;
    line-height: 42px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 100; }
body.home .features, body.page-template-home-page-old-logo-php .features, body.page-template-home-page-new-hero-php .features, body.page-template-home-page-new-hero-old-logo-php .features, body.page-template-home-page-with-arrow-php .features, body.page-template-home-page-new-copy-php .features {
  background-image: -webkit-radial-gradient(closest-corner, #f7f7f7 60%, #dadada), -webkit-linear-gradient(108deg, #f5f5f5, #efefef 10%, #f5f5f5 90%); }
  body.home .features h1, body.page-template-home-page-old-logo-php .features h1, body.page-template-home-page-new-hero-php .features h1, body.page-template-home-page-new-hero-old-logo-php .features h1, body.page-template-home-page-with-arrow-php .features h1, body.page-template-home-page-new-copy-php .features h1 {
    margin-bottom: 1em; }
  body.home .features .nav-tabs li, body.page-template-home-page-old-logo-php .features .nav-tabs li, body.page-template-home-page-new-hero-php .features .nav-tabs li, body.page-template-home-page-new-hero-old-logo-php .features .nav-tabs li, body.page-template-home-page-with-arrow-php .features .nav-tabs li, body.page-template-home-page-new-copy-php .features .nav-tabs li {
    width: 33%;
    margin: 0 0 -1px 0; }
    body.home .features .nav-tabs li.two, body.home .features .nav-tabs li.three, body.page-template-home-page-old-logo-php .features .nav-tabs li.two, body.page-template-home-page-old-logo-php .features .nav-tabs li.three, body.page-template-home-page-new-hero-php .features .nav-tabs li.two, body.page-template-home-page-new-hero-php .features .nav-tabs li.three, body.page-template-home-page-new-hero-old-logo-php .features .nav-tabs li.two, body.page-template-home-page-new-hero-old-logo-php .features .nav-tabs li.three, body.page-template-home-page-with-arrow-php .features .nav-tabs li.two, body.page-template-home-page-with-arrow-php .features .nav-tabs li.three, body.page-template-home-page-new-copy-php .features .nav-tabs li.two, body.page-template-home-page-new-copy-php .features .nav-tabs li.three {
      margin-left: -1px; }
    body.home .features .nav-tabs li a, body.page-template-home-page-old-logo-php .features .nav-tabs li a, body.page-template-home-page-new-hero-php .features .nav-tabs li a, body.page-template-home-page-new-hero-old-logo-php .features .nav-tabs li a, body.page-template-home-page-with-arrow-php .features .nav-tabs li a, body.page-template-home-page-new-copy-php .features .nav-tabs li a {
      border: 1px solid #dadada;
      border-bottom: none;
      border-radius: 0;
      margin: 0;
      padding: 20px 0;
      text-align: center;
      font-size: 14px;
      color: #212121; }
  body.home .features .tab-pane, body.page-template-home-page-old-logo-php .features .tab-pane, body.page-template-home-page-new-hero-php .features .tab-pane, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane, body.page-template-home-page-with-arrow-php .features .tab-pane, body.page-template-home-page-new-copy-php .features .tab-pane {
    padding: 40px 30px 30px;
    border: 1px solid #dadada;
    border-top: none;
    background: white;
    margin-bottom: 0px; }
    body.home .features .tab-pane .btn-primary, body.page-template-home-page-old-logo-php .features .tab-pane .btn-primary, body.page-template-home-page-new-hero-php .features .tab-pane .btn-primary, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .btn-primary, body.page-template-home-page-with-arrow-php .features .tab-pane .btn-primary, body.page-template-home-page-new-copy-php .features .tab-pane .btn-primary {
      font-size: 14px; }
    body.home .features .tab-pane .img-thumbnail, body.page-template-home-page-old-logo-php .features .tab-pane .img-thumbnail, body.page-template-home-page-new-hero-php .features .tab-pane .img-thumbnail, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .img-thumbnail, body.page-template-home-page-with-arrow-php .features .tab-pane .img-thumbnail, body.page-template-home-page-new-copy-php .features .tab-pane .img-thumbnail {
      float: left;
      margin: 0 10px 10px 0;
      width: 220px; }
    body.home .features .tab-pane .col-lg-6, body.home .features .tab-pane .col-sm-12, body.page-template-home-page-old-logo-php .features .tab-pane .col-lg-6, body.page-template-home-page-old-logo-php .features .tab-pane .col-sm-12, body.page-template-home-page-new-hero-php .features .tab-pane .col-lg-6, body.page-template-home-page-new-hero-php .features .tab-pane .col-sm-12, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .col-lg-6, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .col-sm-12, body.page-template-home-page-with-arrow-php .features .tab-pane .col-lg-6, body.page-template-home-page-with-arrow-php .features .tab-pane .col-sm-12, body.page-template-home-page-new-copy-php .features .tab-pane .col-lg-6, body.page-template-home-page-new-copy-php .features .tab-pane .col-sm-12 {
      padding: 0 40px; }
    body.home .features .tab-pane .icon, body.page-template-home-page-old-logo-php .features .tab-pane .icon, body.page-template-home-page-new-hero-php .features .tab-pane .icon, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon, body.page-template-home-page-with-arrow-php .features .tab-pane .icon, body.page-template-home-page-new-copy-php .features .tab-pane .icon {
      display: inline-block;
      width: 22px;
      height: 14px;
      margin: 0 3px 0 0;
      vertical-align: baseline;
      background-size: auto 14px;
      background-repeat: no-repeat;
      background-position: center center; }
      body.home .features .tab-pane .icon.airplane, body.page-template-home-page-old-logo-php .features .tab-pane .icon.airplane, body.page-template-home-page-new-hero-php .features .tab-pane .icon.airplane, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.airplane, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.airplane, body.page-template-home-page-new-copy-php .features .tab-pane .icon.airplane {
        background-image: url("../images/airplane-icon.jpg"); }
      body.home .features .tab-pane .icon.car, body.page-template-home-page-old-logo-php .features .tab-pane .icon.car, body.page-template-home-page-new-hero-php .features .tab-pane .icon.car, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.car, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.car, body.page-template-home-page-new-copy-php .features .tab-pane .icon.car {
        background-image: url("../images/car-icon.jpg"); }
      body.home .features .tab-pane .icon.binoculars, body.page-template-home-page-old-logo-php .features .tab-pane .icon.binoculars, body.page-template-home-page-new-hero-php .features .tab-pane .icon.binoculars, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.binoculars, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.binoculars, body.page-template-home-page-new-copy-php .features .tab-pane .icon.binoculars {
        background-image: url("../images/binoculars-icon.jpg"); }
      body.home .features .tab-pane .icon.snow, body.page-template-home-page-old-logo-php .features .tab-pane .icon.snow, body.page-template-home-page-new-hero-php .features .tab-pane .icon.snow, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.snow, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.snow, body.page-template-home-page-new-copy-php .features .tab-pane .icon.snow {
        background-image: url("../images/snow-icon.jpg"); }
      body.home .features .tab-pane .icon.group, body.page-template-home-page-old-logo-php .features .tab-pane .icon.group, body.page-template-home-page-new-hero-php .features .tab-pane .icon.group, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.group, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.group, body.page-template-home-page-new-copy-php .features .tab-pane .icon.group {
        background-image: url("../images/cake-icon.jpg"); }
      body.home .features .tab-pane .icon.wine, body.page-template-home-page-old-logo-php .features .tab-pane .icon.wine, body.page-template-home-page-new-hero-php .features .tab-pane .icon.wine, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.wine, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.wine, body.page-template-home-page-new-copy-php .features .tab-pane .icon.wine {
        background-image: url("../images/wine-glass-icon.jpg"); }
      body.home .features .tab-pane .icon.earth, body.page-template-home-page-old-logo-php .features .tab-pane .icon.earth, body.page-template-home-page-new-hero-php .features .tab-pane .icon.earth, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.earth, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.earth, body.page-template-home-page-new-copy-php .features .tab-pane .icon.earth {
        background-image: url("../images/earth-icon.jpg"); }
      body.home .features .tab-pane .icon.retention, body.page-template-home-page-old-logo-php .features .tab-pane .icon.retention, body.page-template-home-page-new-hero-php .features .tab-pane .icon.retention, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.retention, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.retention, body.page-template-home-page-new-copy-php .features .tab-pane .icon.retention {
        background-image: url("../images/retention-icon.jpg"); }
      body.home .features .tab-pane .icon.up, body.page-template-home-page-old-logo-php .features .tab-pane .icon.up, body.page-template-home-page-new-hero-php .features .tab-pane .icon.up, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.up, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.up, body.page-template-home-page-new-copy-php .features .tab-pane .icon.up {
        background-image: url("../images/up-arrow-icon.jpg"); }
      body.home .features .tab-pane .icon.like, body.page-template-home-page-old-logo-php .features .tab-pane .icon.like, body.page-template-home-page-new-hero-php .features .tab-pane .icon.like, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.like, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.like, body.page-template-home-page-new-copy-php .features .tab-pane .icon.like {
        background-image: url("../images/like-icon.jpg"); }
      body.home .features .tab-pane .icon.cars, body.page-template-home-page-old-logo-php .features .tab-pane .icon.cars, body.page-template-home-page-new-hero-php .features .tab-pane .icon.cars, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.cars, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.cars, body.page-template-home-page-new-copy-php .features .tab-pane .icon.cars {
        background-image: url("../images/cars-icon.jpg"); }
      body.home .features .tab-pane .icon.music, body.page-template-home-page-old-logo-php .features .tab-pane .icon.music, body.page-template-home-page-new-hero-php .features .tab-pane .icon.music, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.music, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.music, body.page-template-home-page-new-copy-php .features .tab-pane .icon.music {
        background-image: url("../images/music-icon.jpg"); }
      body.home .features .tab-pane .icon.conference, body.page-template-home-page-old-logo-php .features .tab-pane .icon.conference, body.page-template-home-page-new-hero-php .features .tab-pane .icon.conference, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.conference, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.conference, body.page-template-home-page-new-copy-php .features .tab-pane .icon.conference {
        background-image: url("../images/conference-icon.jpg"); }
      body.home .features .tab-pane .icon.sports, body.page-template-home-page-old-logo-php .features .tab-pane .icon.sports, body.page-template-home-page-new-hero-php .features .tab-pane .icon.sports, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.sports, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.sports, body.page-template-home-page-new-copy-php .features .tab-pane .icon.sports {
        background-image: url("../images/sports-icon.jpg"); }
      body.home .features .tab-pane .icon.travel, body.page-template-home-page-old-logo-php .features .tab-pane .icon.travel, body.page-template-home-page-new-hero-php .features .tab-pane .icon.travel, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.travel, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.travel, body.page-template-home-page-new-copy-php .features .tab-pane .icon.travel {
        background-image: url("../images/travel-icon.jpg"); }
      body.home .features .tab-pane .icon.wine, body.page-template-home-page-old-logo-php .features .tab-pane .icon.wine, body.page-template-home-page-new-hero-php .features .tab-pane .icon.wine, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.wine, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.wine, body.page-template-home-page-new-copy-php .features .tab-pane .icon.wine {
        background-image: url("../images/wine-glass-icon.jpg"); }
      body.home .features .tab-pane .icon.earth, body.page-template-home-page-old-logo-php .features .tab-pane .icon.earth, body.page-template-home-page-new-hero-php .features .tab-pane .icon.earth, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.earth, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.earth, body.page-template-home-page-new-copy-php .features .tab-pane .icon.earth {
        background-image: url("../images/earth-icon.jpg"); }
      body.home .features .tab-pane .icon.crown, body.page-template-home-page-old-logo-php .features .tab-pane .icon.crown, body.page-template-home-page-new-hero-php .features .tab-pane .icon.crown, body.page-template-home-page-new-hero-old-logo-php .features .tab-pane .icon.crown, body.page-template-home-page-with-arrow-php .features .tab-pane .icon.crown, body.page-template-home-page-new-copy-php .features .tab-pane .icon.crown {
        background-image: url("../images/crown-icon.jpg"); }
  body.home .features h3, body.page-template-home-page-old-logo-php .features h3, body.page-template-home-page-new-hero-php .features h3, body.page-template-home-page-new-hero-old-logo-php .features h3, body.page-template-home-page-with-arrow-php .features h3, body.page-template-home-page-new-copy-php .features h3 {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px; }
  body.home .features p, body.page-template-home-page-old-logo-php .features p, body.page-template-home-page-new-hero-php .features p, body.page-template-home-page-new-hero-old-logo-php .features p, body.page-template-home-page-with-arrow-php .features p, body.page-template-home-page-new-copy-php .features p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 40px; }
    body.home .features p small, body.page-template-home-page-old-logo-php .features p small, body.page-template-home-page-new-hero-php .features p small, body.page-template-home-page-new-hero-old-logo-php .features p small, body.page-template-home-page-with-arrow-php .features p small, body.page-template-home-page-new-copy-php .features p small {
      font-size: 13px; }
body.home .benefits h2, body.page-template-home-page-old-logo-php .benefits h2, body.page-template-home-page-new-hero-php .benefits h2, body.page-template-home-page-new-hero-old-logo-php .benefits h2, body.page-template-home-page-with-arrow-php .benefits h2, body.page-template-home-page-new-copy-php .benefits h2 {
  text-align: left;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px; }
body.home .benefits p, body.page-template-home-page-old-logo-php .benefits p, body.page-template-home-page-new-hero-php .benefits p, body.page-template-home-page-new-hero-old-logo-php .benefits p, body.page-template-home-page-with-arrow-php .benefits p, body.page-template-home-page-new-copy-php .benefits p {
  font-size: 14px; }
body.home .benefits hr, body.page-template-home-page-old-logo-php .benefits hr, body.page-template-home-page-new-hero-php .benefits hr, body.page-template-home-page-new-hero-old-logo-php .benefits hr, body.page-template-home-page-with-arrow-php .benefits hr, body.page-template-home-page-new-copy-php .benefits hr {
  border: none;
  margin: 50px 0; }
body.home .faq, body.page-template-home-page-old-logo-php .faq, body.page-template-home-page-new-hero-php .faq, body.page-template-home-page-new-hero-old-logo-php .faq, body.page-template-home-page-with-arrow-php .faq, body.page-template-home-page-new-copy-php .faq {
  background-image: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -webkit-linear-gradient(108deg, #00abba, #006b98 90%); }
  body.home .faq h1, body.page-template-home-page-old-logo-php .faq h1, body.page-template-home-page-new-hero-php .faq h1, body.page-template-home-page-new-hero-old-logo-php .faq h1, body.page-template-home-page-with-arrow-php .faq h1, body.page-template-home-page-new-copy-php .faq h1 {
    margin-bottom: 1em; }
  body.home .faq .panel-group, body.page-template-home-page-old-logo-php .faq .panel-group, body.page-template-home-page-new-hero-php .faq .panel-group, body.page-template-home-page-new-hero-old-logo-php .faq .panel-group, body.page-template-home-page-with-arrow-php .faq .panel-group, body.page-template-home-page-new-copy-php .faq .panel-group {
    margin-bottom: 3em; }
body.home .testimonials, body.page-template-home-page-old-logo-php .testimonials, body.page-template-home-page-new-hero-php .testimonials, body.page-template-home-page-new-hero-old-logo-php .testimonials, body.page-template-home-page-with-arrow-php .testimonials, body.page-template-home-page-new-copy-php .testimonials {
  background-image: -webkit-radial-gradient(closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.26)), -webkit-linear-gradient(108deg, #00abba, #006b98 90%); }
  body.home .testimonials .thumbnail, body.page-template-home-page-old-logo-php .testimonials .thumbnail, body.page-template-home-page-new-hero-php .testimonials .thumbnail, body.page-template-home-page-new-hero-old-logo-php .testimonials .thumbnail, body.page-template-home-page-with-arrow-php .testimonials .thumbnail, body.page-template-home-page-new-copy-php .testimonials .thumbnail {
    position: relative;
    height: 130px;
    width: auto;
    display: inline-block;
    border-radius: 100px;
    border-color: white;
    border-width: 2px; }
  body.home .testimonials h1, body.page-template-home-page-old-logo-php .testimonials h1, body.page-template-home-page-new-hero-php .testimonials h1, body.page-template-home-page-new-hero-old-logo-php .testimonials h1, body.page-template-home-page-with-arrow-php .testimonials h1, body.page-template-home-page-new-copy-php .testimonials h1 {
    margin-bottom: 40px; }
    body.home .testimonials h1 i, body.page-template-home-page-old-logo-php .testimonials h1 i, body.page-template-home-page-new-hero-php .testimonials h1 i, body.page-template-home-page-new-hero-old-logo-php .testimonials h1 i, body.page-template-home-page-with-arrow-php .testimonials h1 i, body.page-template-home-page-new-copy-php .testimonials h1 i {
      font-size: 0.8em;
      margin: 0 8px 0 4px; }
  body.home .testimonials h2, body.page-template-home-page-old-logo-php .testimonials h2, body.page-template-home-page-new-hero-php .testimonials h2, body.page-template-home-page-new-hero-old-logo-php .testimonials h2, body.page-template-home-page-with-arrow-php .testimonials h2, body.page-template-home-page-new-copy-php .testimonials h2 {
    font-weight: normal;
    font-size: 18px;
    margin: 0 0 20px; }
  body.home .testimonials blockquote, body.page-template-home-page-old-logo-php .testimonials blockquote, body.page-template-home-page-new-hero-php .testimonials blockquote, body.page-template-home-page-new-hero-old-logo-php .testimonials blockquote, body.page-template-home-page-with-arrow-php .testimonials blockquote, body.page-template-home-page-new-copy-php .testimonials blockquote {
    display: inline-block;
    position: relative;
    border-radius: 2px;
    padding: 0 20px 15px;
    font-family: Georgia, serif;
    font-style: italic;
    color: white;
    border: none;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 0 30px;
    clear: both; }
    body.home .testimonials blockquote:before, body.page-template-home-page-old-logo-php .testimonials blockquote:before, body.page-template-home-page-new-hero-php .testimonials blockquote:before, body.page-template-home-page-new-hero-old-logo-php .testimonials blockquote:before, body.page-template-home-page-with-arrow-php .testimonials blockquote:before, body.page-template-home-page-new-copy-php .testimonials blockquote:before {
      content: "“";
      display: inline-block;
      position: relative;
      font-size: 60px;
      color: rgba(255, 255, 255, 0.2);
      line-height: 1; }
    body.home .testimonials blockquote small, body.page-template-home-page-old-logo-php .testimonials blockquote small, body.page-template-home-page-new-hero-php .testimonials blockquote small, body.page-template-home-page-new-hero-old-logo-php .testimonials blockquote small, body.page-template-home-page-with-arrow-php .testimonials blockquote small, body.page-template-home-page-new-copy-php .testimonials blockquote small {
      margin-top: 10px;
      font-size: 14px;
      white-space: nowrap;
      font-style: normal;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      color: white; }
      body.home .testimonials blockquote small strong, body.page-template-home-page-old-logo-php .testimonials blockquote small strong, body.page-template-home-page-new-hero-php .testimonials blockquote small strong, body.page-template-home-page-new-hero-old-logo-php .testimonials blockquote small strong, body.page-template-home-page-with-arrow-php .testimonials blockquote small strong, body.page-template-home-page-new-copy-php .testimonials blockquote small strong {
        display: block;
        white-space: normal;
        color: #212121; }
    body.home .testimonials blockquote img, body.page-template-home-page-old-logo-php .testimonials blockquote img, body.page-template-home-page-new-hero-php .testimonials blockquote img, body.page-template-home-page-new-hero-old-logo-php .testimonials blockquote img, body.page-template-home-page-with-arrow-php .testimonials blockquote img, body.page-template-home-page-new-copy-php .testimonials blockquote img {
      height: 20px;
      width: auto; }

body.page-template-home-page-new-hero-php .hero, body.page-template-home-page-new-hero-old-logo-php .hero {
  background-image: url("../images/blue-gradient-bg2.jpg"); }

body.page-template-home-page-new-copy-php .hero h1 {
  margin-top: 40px;
  font-size: 33px; }
body.page-template-home-page-new-copy-php .hero h2 {
  margin-bottom: 30px; }
body.page-template-home-page-new-copy-php .hero ul li {
  font-size: 21px; }

.breadcrumb {
  background: transparent;
  padding: 0; }
  .breadcrumb li {
    margin: 0;
    font-size: 14px; }
  .breadcrumb .divider {
    color: #ccc;
    font-size: 14px; }

.widget {
  margin: 20px 0 40px; }
  .widget.quick-quote legend {
    border: none;
    text-align: center;
    margin: 10px 0;
    text-transform: uppercase;
    padding: 0 0 5px;
    border-bottom: 2px solid #00973d; }
  .widget.quick-quote .form-control {
    background-color: #f5f5f5;
    font-size: 14px;
    padding-left: 8px !important;
    border-color: #dadada !important; }
  .widget.quick-quote .btn-primary {
    padding: 10px 20px;
    font-size: 16px; }
  .widget ul li {
    margin-bottom: 0; }
    .widget ul li a {
      padding: 5px 0;
      text-transform: uppercase;
      display: block;
      font-size: 16px; }
      .widget ul li a:hover {
        text-decoration: none;
        background: rgba(255, 255, 255, 0.75); }
    .widget ul li.current_page_item a, .widget ul li.current-page-ancestor a {
      font-weight: bold; }
      .widget ul li.current_page_item a:hover, .widget ul li.current-page-ancestor a:hover {
        background: rgba(255, 255, 255, 0.75); }

section {
  padding: 2em 0; }
  section .subhead {
    font-weight: 600;
    font-size: 28px; }
    section .subhead small {
      font-size: 18px;
      margin-left: 10px; }
  section h3 {
    margin-bottom: 20px; }
  section ul {
    margin: 0 0 30px; }
    section ul li {
      margin-bottom: 1em; }

.page-title {
  margin: 0 0 30px;
  padding-bottom: 8px;
  border-bottom: 3px solid #efefef; }

.light {
  color: white; }

.microhero {
  box-shadow: inset 0 -1px 8px rgba(0, 0, 0, 0.5);
  padding: 0;
  height: 300px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  .microhero h2, .microhero h1 {
    font-size: 48px;
    line-height: 300px;
    margin: 0; }

.press-hits article {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #f1f1f1; }
  .press-hits article h2 {
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: normal; }
    .press-hits article h2 small {
      margin-left: 10px;
      font-size: 14px; }
  .press-hits article p {
    font-size: 14px;
    margin: 0; }
  .press-hits article img {
    border: none; }

.press-releases {
  padding-top: 0; }
  .press-releases article {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f1f1f1; }
  .press-releases .date {
    display: block;
    margin-top: 5px;
    text-transform: uppercase;
    color: #999; }

.leadership article {
  margin-bottom: 40px; }
.leadership p {
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
  padding-bottom: 10px; }
.leadership .social-profile {
  font-size: 14px;
  text-align: right; }
.leadership .linkedin-icon {
  margin: 0 5px 0 0;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  background: url("../images/linkedin-icon.jpg") center center no-repeat;
  background-size: 18px auto; }

.contact .google-map {
  position: relative;
  padding-bottom: 75%;
  height: 0;
  overflow: hidden;
  margin-bottom: 20px; }
  .contact .google-map iframe {
    background: white;
    padding: 6px;
    position: absolute;
    border: 1px solid #ddd !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important; }
.contact address span {
  display: block;
  margin-bottom: 5px; }

.footer {
  margin-top: 0;
  background: #313131;
  border: none;
  color: #f1f1f1; }
  .footer .footer-links {
    margin-bottom: 20px; }
  .footer .footer-bucket {
    padding: 0; }
    .footer .footer-bucket li {
      display: block;
      margin-bottom: 8px; }
      .footer .footer-bucket li a {
        color: #f1f1f1;
        font-size: 14px; }
  .footer .copyright {
    text-align: center;
    color: #999;
    font-size: 13px; }
    .footer .copyright a {
      color: #999; }
