.navbar-default
	height: $navbarHeight
	background: white
	border: none
	.navbar-header
		.navbar-brand
			text-indent: -9999px
			width: 180px
			height: $navbarHeight - 10px
			background: url('../images/bauers-it-logo-2x.png') center center no-repeat
			background-size: 150px 73px
	.navbar-collapse
		margin: 48px 0 10px
		.navbar-nav
			li
				a
					color: $midGrey
					padding: 15px 20px
					border-radius: 40px
					&:hover
						background: rgba(0, 0, 0, .02)
	.telephone
		margin: 48px 0 10px
		.navbar-nav
			li
				padding: 15px 20px
				color: $midGrey
				em
					font-style: normal
					font-weight: 600


